In [2]:
import pandas as pd

#1. 시리즈에 데이터를 주어 직접 만들어보기
series = pd.Series(['banana', 42])
print(series)

series = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(series)

series = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(series)

0    banana
1        42
dtype: object
0         Wes McKinney
1    Creator of Pandas
dtype: object
Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [6]:
# 데이터프레임에 데이터를 주어 직접 만들기
# 데이터 프레임은 딕셔너리를 DataFrame 클래스에 전달해야 한다.

# 데이터 딕셔너리 생성
data_dict = {
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]
}

# 데이터 프레임 생성
scientists = pd.DataFrame(data_dict)
print(scientists)

# 인덱스를 따로 전달하여 생성하는 방법
# 데이터 딕셔너리 생성
data_dict = {
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]
}
# 인덱스 및 컬럼 리스트 생성
index = ['Rosaline Franklin', 'William Gosset']
columns = ['Occupation', 'Born', 'Age', 'Died']

scientists = pd.DataFrame(data = data_dict,
                          index = index,
                          columns = columns)
print(scientists)

# 정렬된 딕셔너리를 활용하기
from collections import OrderedDict

data_dict = OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37, 61])
])
scientists = pd.DataFrame(data_dict)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61
                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16
                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [9]:
#2. 시리즈 다루기

# 데이터 프레임 생성
data_dict = {
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]
}
index = ['Rosaline Franklin', 'William Gosset']
columns = ['Occupation', 'Born', 'Age', 'Died']


scientists = pd.DataFrame(data = data_dict,
                          index = index,
                          columns = columns)
first_row = scientists.loc['William Gosset']

# 데이터프레임의 한 행을 Series로 봄.
# 판다스의 데이터를 구성하는 기본 단위가 Series 이다.
print(type(first_row))
print(first_row)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

In [13]:
# 시리즈의 index, values, keys 사용하기

# index와 values는 프로퍼티.
print(first_row.index)
print(first_row.values)

# keys는 메서드로 index와 동일.
print(first_row.keys())

# index 속성의 특정 값 가져오기. 아래 두 가지는 동일한 값을 가져옴.
print(first_row.index[0])
print(first_row.keys()[0])

# 시리즈의 기초 통계(mean, min, max, std) 메서드 사용하기
ages = scientists['Age']
print(ages)
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

# 이 외의 시리즈 메서드
# append : 2개 이상의 시리즈 연결
# describe : 요약 통계량 계산
# drop_duplicates : 중복값 없는 시리즈 반환
# equals : 시리즈에 해당 값을 가진 요소 확인
# get_values : 시리즈 값 구하기(values 프로퍼티)
# isin : 시리즈에 값이 포함되어 있는지
# min : 최솟값 반환
# max : 최댓값 반환
# mean : 산술 평균 반환
# median : 중간값 반환
# replace : 특정 값을 가진 시리즈 값을 교체
# sample : 시리즈에서 임의의 값을 반환
# sort_values : 값을 정렬
# to_frame : 시리즈를 데이터프레임으로 변환

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
['Statistician' '1876-06-13' 61 '1937-10-16']
Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')
Occupation
Occupation
Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
49.0
37
61
16.97056274847714

In [15]:
#시리즈 응용하기

# csv 파일로부터 데이터 불러오기
scientists = pd.read_csv('./data/scientists.csv')
print(scientists.head())

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist

In [19]:
# 나이 열 가져오기
ages = scientists['Age']

# 산술 평균 함수 사용
print(ages.max())
print(ages.mean())

# 불린 추출 사용하기
print(ages[ages > ages.mean()])
# 아래의 결과에서 1,2,3,7 인덱스가 참이기에 위 코드의 결과가 나온다.
print(ages > ages.mean())

# 아래는 위 불린 추출과 같은 결과를 가져온다.
T = True
F = False
manual_bool_values = [T, T, F, F, T, T, F, T]
print(ages[manual_bool_values])

90
59.125
1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [24]:
# 시리즈와 브로드 캐스팅
# ages > ages.mean() 의 결괎값의 개수가 여러개인 이유
# 시리즈나 데이터 프레임에 있는 모든 데이터를 한 번에 연산하는 것을 브로드캐스팅 이라고 함.

# 벡터와 스칼라로 브로드 캐스팅 수행하기

# 벡터간의 연산
print(ages + ages)
print(ages * ages)

# 벡터와 스칼라의 연산
print(ages + 100)
print(ages * 2)

# 길이가 서로 다른 벡터 연산
# 인덱스가 일치한 곳만 연산하며 나머지는 누락값(NaN)으로 처리됨.
print(ages + pd.Series([1, 100]))

# 정렬 후 연산
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)
# 같은 인덱스끼리 연산하기 때문에 결과가 동일하다.
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [27]:
#4. 데이터프레임 다루기

# 불린 추출하기
print(scientists[scientists['Age'] > scientists['Age'].mean()])

# 브로드 캐스팅하기
print(scientists * 2)

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician
                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [36]:
#5 시리즈와 데이터프레임의 데이터 처리하기

# Born과 Died 열의 차료형을 datatime으로 바꾸고 포맷팅한다.
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

# 데이터프레임에 새로운 열을 추가해본다.
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

# 시간을 계산해본다.
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

# 데이터프레임의 데이터 섞기
import random
random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

# 데이터 프레임의 열 삭제하기
print(scientists.columns)
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]
                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   77       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   90  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   37         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   61       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   41     Biologist 1907-05-27

     died_dt age_days_dt
0 1958-04-16  13779 days
1 1937-10-16  22404 days
2 1910-08-13  32964 days
3 1934-07-04  24345 days
4 1964-04-14  20777 days
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   77             Chemist
1        William Gosset  1876-06-13  1937-10-16   90        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   61             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   41           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   56       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days
0    61
1    41
2    66
3    56
4    37
5    45
6    77
7    90
Name: Age, dtype: int64
Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [41]:
#6.데이터 저장하고 불러오기

# 데이터 저장
names = scientists['Name']
names.to_pickle('./output/scientists_names_series.pickle')
scientists.to_pickle('./output/scientists_df.pickle')

# 데이터 불러오기
scientists_name_pickle = pd.read_pickle('./output/scientists_names_series.pickle')
scientists_from_pickle = pd.read_pickle('./output/scientists_df.pickle')

print(scientists_name_pickle)
print(scientists_from_pickle)

# csv, tsv로 저장하기
names.to_csv('./output/scientists_names_series.csv')
scientists.to_csv('./output/scientists_df.tsv', sep='\t')

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   41        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   66               Nurse
3           Marie Curie  1867-11-07  1934-07-04   56             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   37           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   77  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   90       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

c:\users\administrator\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  app.launch_new_instance()